/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/*LAYOUT
/*******************************************/
body{
  text-align: center;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: minmax(100px,auto) repeat(3,100px);
  justify-content: center;
  align-content: center;
  text-align: center;
}
.overlay{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  transition: 0.8s ease;
}
.square{
  border: 1px solid black;
  font-size: 3em;
}
/* .square:hover{
  background-color: lightgrey;
} */
h1{
  display: grid;
  justify-content: center;
  align content: center;
}
button{
  /* margin-top: 8em; */
  height: 50px;
  /* display: grid; */
  justify-content: center;
  align-items: center;
}
h2{
  color: red;
}

/******************************************
/*STYLE
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
*{
  /* border: 1px solid red !important; */
}
